@font-face {
    font-family: "tiangong-icons";
    src: url("./tiangong-icons.woff2?603e4b352043c4cf693f18ebcc5e8083") format("woff2"),
url("./tiangong-icons.ttf?603e4b352043c4cf693f18ebcc5e8083") format("truetype");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: tiangong-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon-bell:before {
    content: "\ea01";
}
.icon-icon-box:before {
    content: "\ea02";
}
.icon-icon-camera:before {
    content: "\ea03";
}
.icon-icon-chart:before {
    content: "\ea04";
}
.icon-icon-chat:before {
    content: "\ea05";
}
.icon-icon-clipboard:before {
    content: "\ea06";
}
.icon-icon-coin:before {
    content: "\ea07";
}
.icon-icon-compass:before {
    content: "\ea08";
}
.icon-icon-edit:before {
    content: "\ea09";
}
.icon-icon-headset:before {
    content: "\ea0a";
}
.icon-icon-lock:before {
    content: "\ea0b";
}
.icon-icon-logout:before {
    content: "\ea0c";
}
.icon-icon-megaphone:before {
    content: "\ea0d";
}
.icon-icon-receipt:before {
    content: "\ea0e";
}
.icon-icon-shopping-bag:before {
    content: "\ea0f";
}
.icon-icon-store:before {
    content: "\ea10";
}
.icon-icon-tag:before {
    content: "\ea11";
}
.icon-icon-user:before {
    content: "\ea12";
}
.icon-icon-wheel:before {
    content: "\ea13";
}
